In [3]:
import pandas as pd
import numpy as np

Q1: Pandas version

In [22]:
pd.__version__

'2.3.1'

In [8]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [50]:
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Q2: How many records are in the dataset?

In [29]:
df.nunique().max()

np.int64(9704)

Q3: How many fuel types are presented in the dataset?

In [24]:
df.fuel_type.nunique()

2

Q4: How many columns in the dataset have missing values?

In [48]:
null_counts = df.isnull().sum()
num_cols_with_nulls = (null_counts > 0).sum()
num_cols_with_nulls

np.int64(4)

Q5: What's the maximum fuel efficiency of cars from Asia?

In [59]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [55]:
df.groupby('origin').fuel_efficiency_mpg.max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

Q6: Median value of horsepower

In [79]:
# 1. Find the median value of the horsepower column in the dataset.
median=df['horsepower'].median()
print(median)
# 2. Next, calculate the most frequent value of the same horsepower column.
frequent=df['horsepower'].mode().max()
print(frequent)

# 3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.

df['horsepower'] = df['horsepower'].fillna(frequent)
print(df['horsepower'].median())

149.0
152.0
152.0

Q7. Sum of weights

In [111]:
# 1. Select all the cars from Asia
# 2. Select only columns vehicle_weight and model_year
# 3. Select the first 7 values
# 4. Get the underlying NumPy array. Let's call it X.
X=np.array(df[df['origin']=='Asia'][['vehicle_weight','model_year']].head(7))
# 5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX=X.T.dot(X)
# 6. Invert XTX.
XTX_inv = np.linalg.inv(XTX)
# 7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
# 8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w=XTX_inv.dot(X.T).dot(y)
# 9. What's the sum of all the elements of the result?
w.sum()

np.float64(0.5187709081074016)